# URL of the API Gateway routing to ms-usuarios
VITE_API_URL=http://localhost:8083/api/usuarios

# URL of the API Gateway routing to ms-comics
VITE_COMICS_API_URL=http://localhost:8083/api/comics

# URL of the API Gateway routing to ms-ventas (orders)
VITE_VENTAS_API_URL=http://localhost:8083/orders
